<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
      layout:decorator="layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cinema</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content">
    <div class="container" style="padding: 3%">
        <div class="card">
            <div class="card-header">
                Liste Cinemas
            </div>
            <div class="card-body">
                <form th:action="@{http://localhost:8080/CinemaManagement/all}"method="get">
                    <div>
                        <label>Mot cle :</label>
                        <input type="text" name="mc" th:value="${mc}">
                        <button class="btn btn-primary">Chercher</button>
                    </div>
                </form>
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>Nombre Salles</th>
                        <th>Ville</th>
                        <th>Delete</th>
                        <th>Update</th>
                        <th><a th:href="@{http://localhost:8080/CinemaManagement/form}" class="btn btn-warning">Ajouter</a></th>

                    </tr>
                    <tr th:each="c:${cinemas}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.name}"></td>
                        <td th:text="${c.nbrSalle}"></td>
                        <td th:text="${c.ville.getName()}"></td>
                        <td><a th:href="@{http://localhost:8080/CinemaManagement/delete(id=${c.id},mc=${mc})}" class="btn btn-danger">Delete</a></td>
                        <td><a th:href="@{http://localhost:8080/CinemaManagement/updateForm(id=${c.id})}" class="btn btn-success">Update</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
