<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN FOR CINEMA MANAGEMENT</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                Authentification
            </div>
            <div class="card-body">
                <div th:if="${param.error}" class="text-danger">
                    BAD CREDENTIALS
                </div>
                <form th:action="@{login}" method="post">
                    <div class="form-group">
                        <label class="control-label">USERNAME : </label>
                        <input type="text" name="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label">PASSWORD : </label>
                        <input type="password" name="password">
                    </div>
                    <button class="btn btn-primary" type="submit">LOGIN</button>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>
